* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --header-menu-height: 76px;
}

html {
  font-size: 100%;
  background: var(--black);
  color: var(--white);
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
}

#app {
  min-height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
}

.pageContainer {
  padding: 30px 40px;
  min-height: 100vh;
  width: 100%;
}

input,
textarea,
select,
button {
  border: none;
  background: none;
}

input {
  width: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 0;
  cursor: pointer;
  font-weight: 700;
}

button:disabled {
  cursor: unset;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

li {
  list-style: none;
}
