.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.homePage h1 {
  margin-bottom: 10px;
}

.homePage p {
  margin-bottom: 10px;
}

.videoContainer {
  position: relative;
  width: 720px;
  height: 560px;
}

.videoContainer video,
.videoContainer canvas {
  width: 100%;
  height: 100%;
}

.videoContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
}
